<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <p>
    <label for="name">Please name:</label>
    <input id="name" type="text" name="name" value="{{name}}">
    </p>

    <p>
    <label for="password">Please password:</label>
    <input id="password" type="password" name="password">
        <p><i>{{error}}</i></p>
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

<form method="post">
    <input type="submit" value="POST">
</form>
</body>
</html>